{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row tm-row tm-mb-120" style="padding-top: 20px;">
    <div class="col-lg-4 tm-about-col">
        <div class="tm-about-pad">
            <div class="row tm-row">
                <div class="col-12">
                    <img src="{% static 'images/jd002.jpg' %}" alt="Image" class="img-fluid" style="border-radius: 3%; height:300px">
                </div>
            </div>
            <br>
            <div class="w3-panel w3-pale-sand" style="margin-top:-16px;">
                <div class="rn w3-padding-32 w3-round-large">
                    <h1 class="w3-text-blue-gray w3-center" style="text-align:center;"><strong><b>MEET JOHN M. DAFAAN</b></strong></h1><br>
                    <div>
                        <!--<p class="mb-0 tm-line-height-short w3-text-blue-gray w3-center" style="font-size: 17px;">
                            <strong>
                                
                                
                                
                                
                                
                               
                               
                               
                               
                               
                                
                                Jo
                                A staunch supporter of his community, constituency and the Plateau state, John believes the federal government serves a critical role in assisting state and local constituency projects regarding economic, human and infrastructural development. He will ensure tangible growth and development is felt in the constituency through legislations and lobbying to support pro-growth initiatives that create jobs, a strong economy and robust security.

                            </strong>
                            
                        </p>-->
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <strong>
                                John Moenwul Dafa’an, a seasoned administrator, public servant and community advocate, is the All Progressives Congress’ (APC) flag bearer for Mikang, Qua’an-Pan, Shendam House of Representatives election.
                            </strong>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <strong>
                                John Dafaan was born in Shendam on the 3rd of May 1963. John spent his early childhood in Shendam, Gboko and Jos where he started his primary school at Our Lady of Fatima Primary School Jos after which he proceeded to the famous Government Secondary School Kuru. He later on proceeded to the School of Preliminary Studies Keffi for his IJMB after which he went to the University of Jos where he bagged his Bachelor of Arts Degree in History and subsequently his Master Degree in History from the same institution.
                            </strong>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <strong>
                                John Dafaan began his career in 1990 as an Administrative Officer with the Plateau State Judicial Service Commission, Plateau State Government. He later joined the office of the Head of Service as Administrative officer in 1991 and was soon posted to the Plateau State Government House as a protocol officer in 2001 and rose through the ranks and became the Director of Protocol in 2006. He resigned from service to join politics in 2007 as an Under Secretary I in the Plateau State Office of the Head of Service, Plateau State Government.
                            </strong>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <strong>
                                Since retiring he continued his career in private/public service, which included working as an Executive Director with FETDEEN Nigeria Limited. He went back to farming and engaged in Agro-allied and other businesses.  
                            </strong>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <strong>
                                John’s political career took off in 2007 after he retired from the Plateau State Civil Service and contested the governorship seat as a deputy governorship aspirant on the platform of the Action Congress party. After his first stint into politics John never looked back as his charisma, firm belief in human and infrastructural development, honesty, simplicity and love for his community, state and country attracted numerous admirers to him.  
                            </strong>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <strong>
                                Since his foray into politics, John’s political savvy and administrative qualities stood him out for numerous appointments which include:
                            </strong>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <br>
                            <strong>
                                • Chief Of Staff Plateau State Government House Jos (2015-2019) <br><br>
                                • Chairman Protocol Sub-Committee Re-Election Campaign (Governor Simon Lalong) (2019) <br><br>
                                • Member Inauguration Committee (Governor Simon Lalong) in Plateau State (2019) <br><br>
                                • Chairman Presidential Visit Planning Committee (President Muhammadu Buhari) in Plateau State (2017) <br><br>
                                • Member Inauguration Committee (Governor Simon Lalong) in Plateau (2015) <br><br>
                                • National Director Neighbour To Neighbour For Transformation Initiative (Aug.- Nov. 2014) <br><br>
                                • Zonal Coordinator (Southern Zone) Pauline/Gyang Gubernatorial Campaign Organization (2011) <br><br>
                                • National Agent (President Goodluck E. Jonathan) At PDP National Primary Elections Eagle Square Abuja (2011) <br><br>
                                • Member PDP National Electoral Committee of River State National Assembly Primary Election. (2011) <br><br>
                                • Member Presidential Visit Committee (President Olusegun Obasanjo) in Plateau State (2001) <br><br>
                                • Member Policy Review Committee Plateau State Awards <br><br>
                            </strong>
                            <br>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-center" style="font-size: 17px;">
                            <strong>
                                His life work, community champion and political acumen also earned him numerous recognitions and awards which include:
                            </strong>
                            <br>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-left" style="font-size: 17px;">
                            <br>
                            <strong>
                                • Global Peace and Life Rescue Initiative Award for Icon Of Hope And Humanity The Most Youth Friendly Chief Of Staff in Northern Nigeria <br><br>
                                • Federal College of Veterinary and Medical Laboratory Technology (Provost Cup 2017) Award of Excellence <br><br>
                                • Who Is Who Award, Assembly of Nobles 2018 Award of Excellence in Leadership <br><br>
                                • National Association Of Plateau State Students (NAPSS) Merit Award <br><br>
                                • National Association Of Political Science Students Merit Award <br><br>
                                • Jos University Historical And International Studies Association Award of Excellence and Service to Humanity <br><br>
                                • Letter Of Commendation (Office Of The Executive Governor) For Serving the State Credibly As Co-Opted Member Of The Organizing Committee On The Silver Jubilee Of The Creation Of Plateau State <br><br> 
                            </strong>
                            <br>
                        </p>
                        <p class="mb-0 tm-line-height-short w3-text-blue-gray w3-center" style="font-size: 17px;">
                            <strong>
                                All of John’s work experiences, including serving as the chairman of his neighborhood association, have led him to this point in his life to offer himself for public service as an elected member of the Federal House of Representatives. John Dafaan wants to ensure that every day ordinary Mikang, Qua’an-Pan and Shendam people can know that their concerns, hopes and aspirations matter now and for their posterity.
                            </strong>
                            <br>
                        </p>
                    </div>
                </div>
                <br>
            </div>
            
        
            <!--<br>
            <div class="row tm-row tm-mb-120">
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Background</h2>
                        <p class="mb-0 tm-line-height-short">
                            Phasellus pulvinar nisl ornare leo porttitor, et vestibulum lorem semper. 
                            Duis risus ex, molestie sit amet magna in,
                            pharetra pellentesque est. Curabitur elit metus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-users-cog fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Experience</h2>
                        <p class="mb-0 tm-line-height-short">
                            Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in malesuada nulla magna ut enim. 
                            Morbi lacinia magna sed auctor, vitae nunc cursus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fa fa-cogs fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Skills</h2>
                        <p class="mb-0 tm-line-height-short">
                            Nunc mi ante, suscipit vel dapibus et, volutpat sit amet ante. In tempor nec sem vitae varius. Aliquam tincidunt orci sem, et imperdiet massa consectetur nec.
                        </p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}