{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row tm-row tm-mb-120" style="margin-top: 60px;">
        <div class="col-lg-4 tm-about-col">
            <div class="tm-about-pad">                       
                <div class="w3-card w3-cyan w3-round-xlarge" style="padding: 30px;">
                    <h2 class="w3-text-white w3-center">Contact Us</h2>
                    <p class="mb-0 tm-line-height-short w3-text-white w3-center lf">
                        Connect with us through any of the following channels
                    </p>

                    <div class="col-lg-4 tm-about-col">
                        <div class="w3-cyan tm-about-pad">
                            <a href="https://web.facebook.com/profile.php?id=100063651372505">
                                <div class="text-center tm-mt-40 tm-mb-20">
                                    <i class="fab fa-facebook fa-4x w3-text-white"></i>                            
                                </div>                        
                                <p class="mb-0 tm-line-height-short w3-text-white w3-center lf">
                                    facebook: <br>
                                    John M. Dafaan
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 tm-about-col">
                        <div class="w3-cyan tm-about-pad">
                            <a href="https://web.facebook.com/profile.php?id=100063651372505">
                                <div class="text-center tm-mt-40 tm-mb-20">
                                    <i class="fab fa-twitter fa-4x w3-text-white"></i>                            
                                </div>                        
                                <p class="mb-0 tm-line-height-short w3-text-white w3-center lf">
                                    Twitter: <br>
                                    @dafaan_m
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 tm-about-col">
                        <div class="w3-cyan tm-about-pad">
                            <div class="text-center tm-mt-40 tm-mb-20">
                                <i class="fas fa-envelope fa-4x w3-text-white"></i>                            
                            </div>                        
                            <p class="mb-0 tm-line-height-short w3-text-white w3-center lf">
                                email: 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 tm-about-col">
                        <div class="w3-cyan tm-about-pad">
                            <div class="text-center tm-mt-40 tm-mb-20">
                                <i class="fas fa-phone fa-4x w3-text-white"></i>                            
                            </div>                        
                            <p class="mb-0 tm-line-height-short w3-text-white w3-center lf">
                                phone: 
                            </p>
                        </div>
                    </div>

                    <!--<div class="tm-mb-65">
                        <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                            <i class="fas fa-envelope tm-social-icon"></i>
                        </a>
                        <a href="https://twitter.com" class="tm-social-link">
                            <i class="fab fa-twitter tm-social-icon"></i>
                        </a>
                        <a href="https://instagram.com" class="tm-social-link">
                            <i class="fab fa-instagram tm-social-icon"></i>
                        </a>
                        <a href="https://linkedin.com" class="tm-social-link">
                            <i class="fab fa-linkedin tm-social-icon"></i>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>    
</div>


{% endblock %} 