{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12 tm-about-col">
        <div class="tm-about-pad" style="text-align: center;">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fas fa-handshake fa-4x tm-color-primary"></i>                            
            </div>                        
            <h2 class="w3-text-cyan" style="text-align: center;">Support the Service to humanity campaign</h2>
            <br>
            <p class="mb-0 tm-line-height-short lf">
                <strong>Wish to support my campaign?</strong> 
            </p>
            <p class="lf"><strong> You can make donations to the service to humanity campaign through the following channels:</strong></p>
            <div class="row">
                <div class="col-md-12 tm-about-col">
                    <div class="tm-about-pad w3-cyan w3-padding-48" style="text-align:center; border-radius:3%; margin-top:50px;"> 
                        <h3 class="w3-text-white">Bank Account</h3>
                        <br><br>                   
                        <p class="mb-0 tm-line-height-short lf w3-text-white">
                            GTB : 0012345678
                        </p>
                        <br>
                        <p class="mb-0 tm-line-height-short lf w3-text-white">
                            Access : 0012345678
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

{% endblock %}