{% extends 'base.html' %}
{% load static %}

{% block search %}
<!-- Search form -->
<div class="row tm-row container">
    <div class="col-12 w3-padding-16" style="margin-left:40px;">
        <form method="GET" action="search_db" class="form-inline tm-mb-80 tm-search-form">                   
            <input class="form-control tm-search-input" name="query" type="text" placeholder="Search posts..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>                                
        </form>
    </div>                
</div>
{% endblock %}

{% block content %}
<div class="row tm-row">
    {% for i in posts %}
    
    <div class="col-md-4">
        <article class="col-6 col-md-6 tm-post">
            <a href="/news/post/{{i.pk}}" class="effect-lily tm-post-link">
                <div class="tm-post-link-inner">
                    <img src="{{i.image.url}}" alt="Image" class="img-fluid w3-round-large" style="height: 300px;">                            
                </div>
                <!--<span class="position-absolute tm-new-badge">New</span>-->
                <div>
                    <p class="tm-pt-30 tm-color-primary tm-post-title" style="padding-top: -50px;">{{i.title}}</p>
    
                    <p>
                        {{i.tagline}}[Read more...]
                    </p>
                </div>
            </a>                    
            
            <div class="d-flex justify-content-between">
                <span class="tm-color-primary">{{i.created}}</span>
            </div>
            <hr>
        </article>
    </div>
    
    {% endfor %}

</div>
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper w3-center">
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
        <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
    </div>
    <!--<div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                <li class="tm-paging-item active">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                </li>
            </ul>
        </nav>
    </div>-->                
</div> 
{% endblock %}
