{% extends 'base.html' %}
{% load static %}
{% block content %}            
<div class="row tm-row">
    <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
    <br><br>
    <div class="col-12">
        <img src="{{post.image.url}}" alt="" style="height: 300px; width:100%">
    </div>
</div>
<br>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">                    
            <div class="mb-4">
                <p>
                    {{post.post}}
                </p>
                <!--<span class="d-block text-right tm-color-primary">Creative . Design . Business</span>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
              